<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.note.dao.NoteDao">
	<select id="findNotesByNotebookId" parameterType="string" resultType="map">
		select
			cn_note_id as id,
		 	cn_note_title as title 
		from 
			cn_note 
		where
			cn_notebook_id=#{notebookId}
		order by 
			cn_note_last_modify_time desc
	</select>
	<select id="findNoteById" parameterType="string" resultType="cn.tedu.note.entity.Note">
		select
			cn_note_id as id,
			cn_notebook_id as notebookId,
			cn_user_id as userId,
			cn_note_status_id as statusId,
			cn_note_type_id as typeId,
			cn_note_title as title,
			cn_note_body as body,
			cn_note_create_time as createTime,
			cn_note_last_modify_time as lastModifyTime
		from
			cn_note
		where
			cn_note_id=#{id}
	</select>
	<!-- <update id="updateNote" parameterType="cn.tedu.note.entity.Note">
		update
			cn_note
		set
			<if test="notebookId!=null">
				cn_notebook_id=#{notebookId};
			</if>
			<if test="title!=null">
				cn_note_title=#{title},
			</if>
			<if test="body!=null">
				cn_note_body=#{body},
			</if>
			<if test="userId!=null">
				cn_user_id=#{userId},
			</if>
			<if test="statusId!=null">
				cn_note_status_id=#{statusId},
			</if>
			<if test="typeId!=null">
				cn_note_type_id=#{typeId},
			</if>
			cn_note_last_modify_time=#{lastModifyTime}
		where	
			cn_note_id=#{id}
	</update> -->
	<!-- Mybatis动态SQL拼接 -->
	<update id="updateNote" parameterType="map">
		update
			cn_note
		set
			<if test="notebookId!=null">
				cn_notebook_id=#{notebookId};
			</if>
			<if test="title!=null">
				cn_note_title=#{title},
			</if>
			<if test="body!=null">
				cn_note_body=#{body},
			</if>
			<if test="userId!=null">
				cn_user_id=#{userId},
			</if>
			<if test="statusId!=null">
				cn_note_status_id=#{statusId},
			</if>
			<if test="typeId!=null">
				cn_note_type_id=#{typeId},
			</if>
			cn_note_last_modify_time=#{lastModifyTime}
		where	
			cn_note_id=#{id}
	</update>
	<select id="countNotesById" parameterType="string" resultType="int">
		select 
			count(*)
		from
			cn_note
		where
			cn_note_id=#{id}
	</select>
	<insert id="addNote" parameterType="cn.tedu.note.entity.Note">
		insert into cn_note 
			(cn_note_id,
			cn_notebook_id,
			cn_user_id,
			cn_note_status_id,
			cn_note_type_id,
			cn_note_title,
			cn_note_body,
			cn_note_create_time,
			cn_note_last_modify_time)
		values(
			#{id},#{notebookId},#{userId},
			#{statusId},#{typeId},#{title},
			#{body},#{createTime},#{lastModifyTime}
		)	
	</insert>
	
	<delete id="deleteNote" parameterType="string">
		delete from cn_note where cn_note_id=#{id}; 
	</delete>
	<select id="findNoteByParams" parameterType="map" resultType="map">
		select 
			cn_note_id as id,
			cn_note_title as title	
		from 
			cn_note
		<where>
			<trim prefixOverrides="and">
				<if test="userId!=null">
					cn_user_id=#{id}
				</if>
				<if test="notebookId!=null">
					and cn_notebook_id=#{notebookId}
				</if>				
				<choose>
					<when test="title!=null">
						and cn_note_title like #{title}
					</when>
					<when test="key!=null">
						and cn_note_title like #{key}
					</when>
				</choose>
				<if test="key!=null">
					or cn_note_body like #{key}
				</if>
			</trim>
		</where>
		<if test="start!=null">
			limit #{start},#{rows} 
		</if>
		
	</select>
	
</mapper>

